# Node modules
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/
out/

# Environment variables
.env

# Cache
.cache/

# IDE config files (наприклад, Visual Studio Code)
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Coverage directories
coverage/

# Ignore DS_Store (MacOS)
.DS_Store
